doctype html
html
    head
        title="太宝商务信息咨询有限公司"
        link(type='text/css', rel='stylesheet', href="main.css")
    body
        header
            .logo
                .title="太保商务信息咨询有限公司"
                .url="www.taibaoshangwu.com"
            .slogan="强大的团队，为您解决债务烦恼"
            a.english(href="javascript:;")="English"
        .header-bar
        #middle.clear-fix
            .left
                .industry
                    dl
                        dt
                            span="办事机构"
                            b=" Industry"
                        dd="广州总公司"
                        dd="佛山分公司"
                .link
                    dl
                        dt
                            span="联系方式"
                        dd="E-mail: "
                        dd="电话:400-825-5992"
                        dd="传真:0757-85982037"
            .main
                .summary
                    .title
                        span
                            b="公司简介"
                            | Company
                    
                    .desc.clear-fix
                        .photo
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                .business
                    .title
                        span
                            b="主营业务"
                            | Business
                    ul
                        li="消息一"
                        li="消息一"
                        li="消息一"
                        li="消息一"
                        li="消息一"
                        li="消息一"
            .right
                .link
                    dl
                        dt
                            span="高新诚聘"
                            b=" Hire"
                        dd="广州总公司"
                        dd="佛山分公司"
        .footer
            .logo
                .title
                .url
            .info="版权所有"
                
