doctype html
html
    head
        title="太宝商务信息咨询有限公司"
        link(type='text/css', rel='stylesheet', href="main.css")
    body
        header
            .logo
                .title="太保商务信息咨询有限公司"
                .url="www.taibaoshangwu.com"
            .slogan="强大的团队，为您解决债务烦恼"
            a.english(href="javascript:;")="English"
            ul.menu
                li
                    a(href="javascript:;")="首页"
                li
                    a(href="javascript:;")="业务介绍"
                li
                    a(href="javascript:;")="招聘专栏"
                li
                    a(href="javascript:;")="联系我们"
        .header-bar
        #middle.clear-fix
            .left
                .industry
                    dl
                        dt
                            span="办事机构"
                            b=" Industry"
                        dd="广州总公司"
                        dd="佛山分公司"
                .link
                    dl
                        dt
                            span="联系方式"
                        dd="E-mail: "
                        dd="电话:400-825-5992"
                        dd="传真:0757-85982037"
            .main
                .summary
                    .title
                        span
                            b="公司简介"
                            | Company
                    
                    .desc.clear-fix
                        .photo
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                .business
                    .title
                        span
                            b="主营业务"
                            | Business
                    ul
                        li="业务一"
                        li="业务一"
                        li="业务一"
                        li="业务一"
                        li="业务一"
                        li="业务一"
            .right
                .link
                    dl
                        dt
                            span="高新诚聘"
                            b=" Hire"
                        dd="电子商务专员"
                        p="要求"
                        p="待遇"
                        dd="款项追踪专员"
                        p="要求"
                        p="待遇"
        footer
            .logo
                .title
                .url
            .info="版权所有 太宝商务信息咨询有限公司"
                
